{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"new-cap": [2, { "capIsNewExceptions": ["ToString"] }]
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"global-require": 0,
			},
		},
	],
}
