{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"new-cap": [2, {
			"capIsNewExceptions": [
				"CodePointsToString",
				"StringToCodePoints",
				"ToString",
				"UTF16EncodeCodePoint",
			],
		}],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"global-require": 0,
			},
		},
	],
}
